:root {
    --Darkcyan: hsl(158, 36%, 37%);
    --Cream: hsl(30, 38%, 92%);
    --White: hsl(0, 0%, 100%);
    --MediumGray: hsl(0, 0%, 41%);
    --ff-fr: 'Fraunces', serif;
    --ff-mon: 'Montserrat', sans-serif;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;

}

body {
    padding: 0;
    min-width: 100vw;
    min-height: 100vh;
    background-color: var(--Cream);
    font-family: var(--ff-mon);
    font-weight: 500;
    color: var(--MediumGray);
}

main {
    min-width: 100vw;
    min-height: 100vh;
    padding: 1rem;
    display: flex;
    align-items: center;
    justify-content: center;
}

.prouduct_outer {
    margin: auto;
    overflow: hidden;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
    border-radius: 10px;
    line-height: 0;

    img {
        max-width: 100%;
    }

    .prouduct_body {
        background-color: var(--White);
        padding: 1.1rem;

        .cat {
            margin-top: 1.5rem;
            font: 1rem var(--ff-mon);
            text-transform: uppercase;
            letter-spacing: 4px;

        }

        .titel {
            margin: 1rem 0;

            font-size: 2.5rem;
            font-family: var(--ff-fr);
            font-weight: 700;
            line-height: 1;
            color: black;
        }

        p {
            font-size: 1rem;
            line-height: 1.5rem;
            margin-bottom: 2rem;
        }

        .flex-group {
            display: flex;
            align-items: center;
            gap: .5rem;
            font: 1rem var(--ff-fr);
        }

        .price {
            font: 1.8rem var(--ff-fr);
            font-weight: 700;
            color: var(--Darkcyan);
        }

        .old_price {
            font-weight: 500;
            font-family: var(--ff-mon);
            color: var(--MediumGray);
        }

        button {
            display: inline-flex;
            align-items: center;
            justify-content: center;
            -web-kit-appearance: none;
            background-color: var(--Darkcyan);
            color: var(--Cream);
            border: 0;
            width: 100%;
            margin: 1.5rem auto 0;
            padding: .8rem 0;
            cursor: pointer;
            -webkit-border-radius: .5rem;
            -moz-border-radius: .5rem;
            -ms-border-radius: .5rem;
            -o-border-radius: .5rem;
            border-radius: .5rem;

            &:hover {
                background-color: hsl(158, 37%, 32%);
            }

            &::before {
                content: "";
                background-image: url(./images/icon-cart.svg);
                width: 15px;
                height: 16px;
                margin-right: .5rem;
            }
        }
    }
}

@media (min-width:900px) {

    .prouduct_outer {
        display: grid;
        grid-template-columns: 1fr 1fr;
        max-width: 600px;

        .prouduct_body button {
            padding: 1rem 0;
        }

    }
}

::selection {
    color: var(--Cream);
    background-color: var(--Darkcyan);
}